.tarefas{
    width: 68%;
    margin-top: 35px;

}
.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.info_total{
    color: #4EA8DE;
    min-width: 150px;
}
.info_executadas{
    color:#8284FA;
}
.rounded{
    border-radius: 25%;
    background: #1a1a1a;
   padding: 5px;
    color: #ffff;
}
.list{
    list-style: none;
    width: 100%;
    padding: 0;
}
.itens{
    background: #262626;
    width: 100%;
    min-height: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.itens label{
    flex-basis: 85%;
}
.itens button{
    background: none;
}